/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-snackbar {
    background: rgb(49, 192, 49);
  }

.red-snackbar{
  background: rgb(255, 70, 70);
}
