<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students | async">  
            <td>{{student.name}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.address}}</td>
            <td><button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
                <button (click)="studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
